{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Про мене</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% sass_src 'sass/index.scss' %}" type="text/css"/>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
  </head>
  <body>
    <!-- ❗️❗️❗️ Add partials like so for every page -->
    {% include "partials/header.html" %}
    {% include "partials/menu.html" %}
    {% include "partials/aboutme/aboutmeabout.html" %}
    {% include "partials/education.html" %}
    {% include "partials/aboutme/aboutmeliterature.html" %}
    {% include "partials/footer.html" %}
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script type="module" src="{% static 'index.js' %}"></script>
    <script src="{% static 'scripts/modal.js' %}"></script>
  </body>
</html>
