@import url(~node_modules/modern-normalize/modern-normalize.css);
.position-center {
  display: flex;
  justify-content: center; }
  @media screen and (min-width: 1200px) {
    .position-center {
      justify-content: normal; } }
.box {
  position: relative;
  margin: auto;
  top: 0;
  width: 270px;
  height: 360px; }

.box2 {
  position: relative;
  margin: auto;
  top: 0;
  width: 270px;
  height: 360px;
  width: 560px;
  height: 500px;
  margin-left: 0; }

.brd {
  position: absolute;
  width: 50%;
  height: 50%; }

#icon {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 5%; }

.bt {
  border-top: 2px solid #506054;
  top: 0; }

.bl {
  border-left: 2px solid #506054;
  left: 0; }

.br {
  border-right: 2px solid #506054;
  right: 0; }

.bb {
  border-bottom: 2px solid #506054;
  bottom: 0; }

.link-nav {
  font-size: 16px;
  line-height: calc(19px / 16px);
  margin-bottom: 24px; }
  .link-nav:hover {
    color: #506054; }

.container {
  width: 100%;
  padding-inline: 26px;
  margin: 0 auto; }
  @media screen and (min-width: 320px) {
    .container {
      min-width: 320px; } }
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
      max-width: 1199px;
      padding-inline: 32px; } }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px;
      padding-inline: 16px; } }
html {
  scroll-behavior: smooth;
  overflow-x: clip; }

body {
  color: #8e7f7f;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.04em;
  background-color: #f4f4f4; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: currentColor;
  cursor: url("../images/cursor-dark.svg"), auto; }

textarea {
  resize: none; }

.titles {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  color: #506054;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px; }
  @media screen and (min-width: 1200px) {
    .titles {
      font-size: 45px;
      line-height: calc(54 / 45);
      text-align: left;
      margin-bottom: 20px; } }
body {
  cursor: url("../images/cursor.svg"), auto; }

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px; }

.secondary-btn, .primary-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(21 / 18);
  padding: 16px 24px;
  cursor: url("../images/cursor-dark.svg"), auto;
  color: #f4f4f4; }
  @media screen and (min-width: 1200px) {
    .secondary-btn, .primary-btn {
      padding: 16px 52px;
      font-size: 20px; } }
.primary-btn {
  background-color: #506054;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .primary-btn:hover {
    background-color: #8e7f7f; }
  .primary-btn:focus {
    background-color: transparent;
    color: #506054; }

.secondary-btn {
  background-color: transparent;
  border: 2px solid #506054;
  padding: 16px 44px;
  color: #506054;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .secondary-btn:hover {
    border-color: #8e7f7f;
    color: #8e7f7f; }
  .secondary-btn:focus {
    background-color: transparent;
    color: #506054; }

.logo {
  fill: #8e7f7f;
  color: #8e7f7f;
  width: 127px;
  height: 38px;
  padding: 0 8px; }
  @media screen and (min-width: 1200px) {
    .logo {
      width: 155px;
      height: 46px; } }
.header__line {
  border-bottom: 2px solid #8e7f7f;
  height: 0;
  display: flex;
  flex-grow: 1; }
  .header__line--first {
    min-width: 24px; }
  .header__line--second {
    min-width: 36px; }
  .header__line--third {
    min-width: 26px; }

.burger {
  fill: #8e7f7f;
  width: 32px;
  height: 24px; }
  @media screen and (min-width: 1200px) {
    .burger {
      width: 64px;
      height: 32px; } }
.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px; }

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 200; }

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none; }

.data-modal {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
  z-index: 300; }

.data-modal.is-hidden {
  opacity: 0;
  pointer-events: none; }

.close {
  font-size: 28px;
  position: absolute;
  top: 24px;
  right: 24px;
  fill: black;
  height: 30px;
  width: 30px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.close:hover,
.close:focus {
  cursor: pointer;
  color: #506054; }

.menu-list {
  text-transform: uppercase;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  margin-bottom: 200px; }
  @media screen and (min-width: 1200px) {
    .menu-list {
      font-size: 35px;
      margin-bottom: 152px; } }
.menu-items {
  margin-bottom: 12px; }
  .menu-items:hover {
    color: #506054;
    text-shadow: 1px 1px 2px #506054; }

.contact__form-icons--menu {
  justify-content: center; }

.hero {
  font-size: 20px;
  font-weight: 400;
  padding: 28px 0; }
  @media screen and (min-width: 1200px) {
    .hero {
      margin-bottom: 120px; } }
  .hero__secondary-btn {
    margin-bottom: 16px; }
    @media screen and (min-width: 1200px) {
      .hero__secondary-btn {
        margin-bottom: 0;
        padding-left: 44px;
        padding-right: 44px; } }
  .hero__header {
    font-weight: 400;
    font-size: 21px;
    line-height: calc(27 / 23);
    text-align: center;
    margin-bottom: 16px; }
    @media screen and (min-width: 1200px) {
      .hero__header {
        font-size: 25px;
        line-height: calc(29 / 25); } }
  .hero__name {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    color: #506054;
    font-size: 35px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px; }
    @media screen and (min-width: 1200px) {
      .hero__name {
        font-size: 60px;
        line-height: calc(73 / 60); } }
  .hero__options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 16px;
    margin-bottom: 48px; }
    @media screen and (min-width: 1200px) {
      .hero__options {
        flex-direction: column;
        margin-left: 80px; } }
  .hero__thumb {
    margin-bottom: 16px;
    padding: 8px;
    border: 2px solid #506054;
    width: 356px;
    height: 418px; }
  .hero__picture {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  @media screen and (min-width: 1200px) {
    .hero__wrapper-image {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: space-between; } }
  @media screen and (min-width: 1200px) {
    .hero__wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: flex-end;
      max-width: 700px; } }
.hero__lang {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }
  @media screen and (min-width: 1200px) {
    .hero__lang {
      margin-left: 300px;
      font-size: 18px;
      line-height: calc(21 / 18); } }
.hero__lang--ukr::before {
  content: '/'; }

.hero_buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 768px) {
    .hero_buttons {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media screen and (min-width: 1200px) {
    .hero_buttons {
      gap: 60px;
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
      align-items: center; } }
.hero__item {
  font-size: 20px;
  display: flex; }
  .hero__item--decoration {
    margin-top: 12px;
    margin-right: 12px;
    min-width: 26px;
    height: 0px;
    border-top: 1px solid #8e7f7f; }

.description {
  padding-bottom: 56px; }
  .description__primary-btn {
    flex-direction: row-reverse; }

.description__img-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 24px;
  margin-bottom: 40px; }
  @media screen and (min-width: 1200px) {
    .description__img-wrapper {
      width: 860px; } }
.description__thumb--girl {
  height: 390px;
  width: 98%; }

.description__thumb--girl-item {
  width: 96%;
  height: 100%;
  object-fit: cover; }

.description__thumb--books {
  position: absolute;
  bottom: -28px;
  right: 0;
  width: 55%;
  z-index: 1;
  width: 40%;
  border: #f4f4f4 solid 8px; }

.description__thumb--books-item {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.container__greetings {
  padding-top: 54px;
  padding-bottom: 25px; }

.description__greetings--start {
  padding-bottom: 28px;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #506054; }
  @media screen and (min-width: 1200px) {
    .description__greetings--start {
      text-align: left;
      padding: 0;
      margin-bottom: 24px; } }
.description__greetings--end {
  padding-bottom: 28px;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 1.1;
  /* identical to box height */
  text-align: center;
  color: #506054; }
  @media screen and (min-width: 1200px) {
    .description__greetings--end {
      text-align: left;
      padding: 0; } }
.description__abouttext {
  display: block;
  margin-bottom: 40px;
  line-height: 1.5; }

.description__requestme {
  display: block;
  margin-bottom: 37px;
  text-align: center; }

.description__enumeration-list {
  margin-bottom: 40px; }
  @media screen and (min-width: 1200px) {
    .description__enumeration-list {
      margin-left: 80px;
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2; } }
.description__enumeration {
  margin-bottom: 40px;
  line-height: 1.5;
  margin-bottom: 10px;
  display: flex; }

.description__enumeration--decoration {
  margin-top: 12px;
  margin-right: 12px;
  min-width: 26px;
  height: 0px;
  border-top: 1px solid #8e7f7f; }

@media screen and (min-width: 1200px) {
  .greetings__wrapper-top {
    display: flex; } }

@media screen and (min-width: 1200px) {
  .greetings__wrapper-mid {
    margin-left: 52px; } }

.symptomatics {
  padding-top: 40px;
  font-size: 20px;
  padding-bottom: 28px; }
  .symptomatics__list {
    margin-bottom: 40px;
    line-height: 150%; }
    @media screen and (min-width: 1200px) {
      .symptomatics__list {
        width: 580px; } }
  .symptomatics__item {
    margin-bottom: 10px;
    display: flex; }
    .symptomatics__item:last-child {
      margin-bottom: 0; }
    .symptomatics__item--decoration {
      margin-top: 12px;
      margin-right: 12px;
      min-width: 26px;
      height: 0px;
      border-top: 1px solid #8e7f7f; }

.symptomatics__img-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 24px;
  margin-bottom: 40px; }
  @media screen and (min-width: 1200px) {
    .symptomatics__img-wrapper {
      width: 580px; } }
.symptomatics__thumb--girl {
  padding-bottom: 28px;
  min-height: 340px;
  width: 65%;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #506054 30%, #f4f4f4 30%) 1;
  border-left: 0;
  padding: 4px; }
  .symptomatics__thumb--girl-item {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.symptomatics__thumb--books {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55%;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(#f4f4f4 50%, #506054 50%) 1;
  border-right: 0;
  padding-left: 4px;
  padding-bottom: 4px; }
  .symptomatics__thumb--books-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top: 4px solid #f4f4f4;
    border-right: 4px solid #f4f4f4; }

@media screen and (min-width: 1200px) {
  .symptomatics-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 60px; } }

.symptomatics__primary-btn {
  padding-left: 24px;
  padding-right: 24px; }
  @media screen and (min-width: 1200px) {
    .symptomatics__primary-btn {
      margin-left: 780px;
      margin-bottom: 60px; } }
.education {
  padding-top: 16px;
  font-size: 20px;
  margin-bottom: 80px; }

@media screen and (min-width: 1200px) {
  .education__wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px; } }

.contact__accent-text {
  font-size: 23px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 10px;
  color: #506054; }
  @media screen and (min-width: 1200px) {
    .contact__accent-text {
      text-align: start;
      margin-bottom: 0px; } }
.contact__input--text {
  width: 100%;
  background: transparent;
  margin-bottom: 24px;
  border: 0;
  border-bottom: 1px solid;
  padding: 8px 2px; }
  @media screen and (min-width: 1200px) {
    .contact__input--text {
      margin-bottom: 12px;
      width: 475px;
      margin-bottom: 40px; } }
.contact__accent-text-lower {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(26 / 22); }
  @media screen and (min-width: 1200px) {
    .contact__accent-text-lower {
      justify-content: normal; } }
.contact__form-item {
  margin-bottom: 14px; }
  @media screen and (min-width: 1200px) {
    .contact__form-item {
      margin-bottom: 40px; } }
.contact__form {
  margin-top: 32px;
  margin-bottom: 32px; }
  .contact__form--btn {
    padding-left: 88px;
    padding-right: 88px;
    margin-top: 48px; }
  @media screen and (min-width: 1200px) {
    .contact__form {
      padding-left: 40px;
      padding-top: 100px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; } }
.icon-instagram {
  fill: black;
  height: 40px;
  width: 40px; }

.icon-telegram {
  height: 40px;
  width: 40px; }

.icon-tiktok {
  height: 40px;
  width: 40px; }

.icon-youtube {
  height: 40px;
  width: 40px; }

.contact__form-icons {
  display: flex;
  gap: 24px; }

@media screen and (min-width: 1200px) {
  .contact-wrapper {
    display: flex; } }

@media screen and (min-width: 1200px) {
  .contact__form-list {
    margin-top: 100px;
    margin-left: 180px; } }

.footer {
  padding-top: 80px;
  text-align: center;
  font-size: 12px;
  line-height: calc(19 / 16); }
  .footer__list {
    margin-bottom: 120px; }
    .footer__list--item {
      margin-bottom: 22px; }
  .footer__agreement {
    margin-bottom: 22px; }

.footer__item {
  display: flex;
  justify-content: center; }
  .footer__item--decoration {
    margin-top: 6px;
    margin-right: 8px;
    min-width: 18px;
    height: 0px;
    border-top: 1px solid #8e7f7f; }
    @media screen and (min-width: 1200px) {
      .footer__item--decoration {
        width: 100%; } }
  .footer__item--decoration2 {
    margin-top: 6px;
    margin-left: 8px;
    min-width: 18px;
    height: 0px;
    border-top: 1px solid #8e7f7f; }
    @media screen and (min-width: 1200px) {
      .footer__item--decoration2 {
        width: 100%; } }
.swiper {
  width: 250px;
  height: 185px;
  margin-bottom: 28px; }
  @media screen and (min-width: 1200px) {
    .swiper {
      width: calc(250px * 2);
      height: calc(185px * 2); } }
.swiper-slide > img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%; }

.swiper-pagination {
  text-decoration-color: red; }

@media screen and (min-width: 1200px) {
  .individuals {
    margin-bottom: 120px; } }

@media screen and (min-width: 1200px) {
  .how {
    margin-bottom: 120px; } }

.how__list {
  font-size: 18px;
  line-height: 150%; }
  .how__list-item {
    margin-bottom: 12px; }

.aboutmeabout {
  font-size: 18px;
  line-height: 150%; }
  .aboutmeabout__thumb-eyes {
    margin: 20px 0;
    width: 100%;
    height: 180px; }
    @media screen and (min-width: 1200px) {
      .aboutmeabout__thumb-eyes {
        height: 180px; } }
    .aboutmeabout__thumb-eyes--item {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .aboutmeabout__thumb_wrapper {
    position: relative;
    margin-bottom: 100px; }
    @media screen and (min-width: 1200px) {
      .aboutmeabout__thumb_wrapper {
        max-width: 400px; } }
  .aboutmeabout__picture1 {
    width: 96%;
    height: 330px; }
    @media screen and (min-width: 1200px) {
      .aboutmeabout__picture1 {
        height: 500px; } }
    .aboutmeabout__picture1--item {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .aboutmeabout__picture2 {
    width: 50%;
    max-width: 300px;
    position: absolute;
    right: 0;
    bottom: -80px;
    border-top: #f4f4f4 8px solid;
    border-left: #f4f4f4 8px solid; }
    .aboutmeabout__picture2--item {
      height: 100%;
      width: 100%; }
  @media screen and (min-width: 1200px) {
    .aboutmeabout__wrapper {
      display: flex; } }
  @media screen and (min-width: 1200px) {
    .aboutmeabout__wrapper--inner {
      max-width: 700px;
      margin-left: 60px; } }
  .aboutmeabout__description-text {
    margin-bottom: 40px;
    line-height: 1.5; }
  .aboutmeabout__list {
    list-style-type: square; }
    .aboutmeabout__list--mod {
      margin-bottom: 8px; }
    .aboutmeabout__list-item {
      margin-bottom: 24px; }
      .aboutmeabout__list-item:last-child {
        margin-bottom: 48px; }
      .aboutmeabout__list-item--img {
        height: 440px;
        width: 320px; }
        @media screen and (min-width: 1200px) {
          .aboutmeabout__list-item--img {
            height: 300px;
            width: 100%; }
            .aboutmeabout__list-item--img-item {
              width: 100%;
              height: 100%;
              object-fit: cover; } }
@media screen and (min-width: 1200px) {
  .hero__name--aboutmeabout {
    margin-top: 56px;
    margin-bottom: 76px;
    font-size: 45px; } }

.description__greetings--aboutmeabout {
  font-size: 25px; }

.contact__accent-text--aboutmeabout {
  font-size: 25px;
  line-height: 150%;
  margin-bottom: 24px; }

@media screen and (min-width: 1200px) {
  .groups {
    margin-bottom: 120px; } }

.groups__span {
  padding-bottom: 24px; }

.groups__text {
  font-size: 18px;
  line-height: 150%; }

.titles--25 {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 150%;
  color: #506054;
  font-weight: 500;
  margin-bottom: 20px; }

.remove-margin {
  margin-left: 0; }

.reverse {
  flex-direction: row-reverse;
  margin-left: 0;
  justify-content: space-between; }

.space-btw {
  justify-content: space-between; }

.aboutmeliterature__text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 56px;
  line-height: 150%; }
  @media screen and (min-width: 1200px) {
    .aboutmeliterature__text {
      margin-bottom: 56px;
      line-height: 150%; } }
@media screen and (min-width: 1200px) {
  .description__greetings--start-aboutmeliterature {
    text-align: center;
    font-size: 35px;
    line-height: calc(42px / 35px); } }

@media screen and (min-width: 1200px) {
  .column-wrapper {
    column-count: 2; } }

.margin-bot {
  margin-bottom: 40px; }

/*# sourceMappingURL=index.css.map */